.portfolio {
  height: 481px;
  margin: 0 70px 0 70px;
}

.portfolio__title {
  font-size: 18px;
  line-height: 1.1;
  font-weight: 400;
  color: #8B8B8B;
  margin: 56px 0 0;
}

.portfolio__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 50px 0 0;
  padding: 0;
  gap: 20px;
}

.portfolio__list_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 1px #424242;
  padding-bottom: 18px;
}

.portfolio__list_item_link {
  text-decoration: none;
  font-size: 30px;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: -1.2px;
  color: #fff;
}

.portfolio__list_item_link-arrow {
  position: relative;
  top: 4px;
  right: 1px;
}
