.promo {
  background-color: #073042;
  margin: 0;
  padding: 0;
  height: 560px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .promo {
    height: 844px;
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
}

@media screen and (max-width: 440px) {
  .promo {
    height: 630px;
    }
}

.promo__text {
  margin: 0;
  padding: 0;
  color: #FFF;
  font-size: 40px;
  line-height: 1.33;
  font-weight: 400;
  position: absolute;
  max-width: 626px;
  max-height: 104px;
  left: 70px;
  top: 50px;
  letter-spacing: -1.6px;
}


@media screen and (max-width: 768px) {
  .promo__text {
    text-align: center;
    margin-top: 300px;
    position: static;
  }
}

@media screen and (max-width: 440px) {
  .promo__text {
    margin-top: 183px;
    font-size: 31px;
    max-width: 300px;
    left: 8px;
    letter-spacing: -1.2px;
    line-height: 1.26;
  }
}

.promo__logo {
  margin: 255px 0px 0 490px;
  padding: 0;
  width: 722px;
  height: 244px;
  bottom: 60px;
  background-image: url(../../images/text__COLOR_landing-logo.png);
  background-repeat: no-repeat;
  background-size:cover;
}

@media screen and (max-width: 1214px) {
  .promo__logo {
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .promo__logo {
    margin: 140px 0 0;
    width: 100%;
    max-width: 680px;
    max-height: 230px;
    position: static;
    background-size:cover;
  }
}

@media screen and (max-width: 440px) {
  .promo__logo {
    margin: 72px 0 0;
    max-width: 680px;
    max-height: 230px;
    background-size:cover;
    background-position-x: -180px;
    background-position-y: 0px;
  }
}