.header {
  background-color: #073042;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  align-items: center;
}

.header-main {
  background-color: #202020;
}

@media screen and (max-width: 768px) {
  .header-main {
    background-color: #202020;
    align-items: start;
    margin-bottom: -31px;
  }
}

.header__logo {
  margin: 18px 0 18px 70px;
  cursor: pointer;
}

.header__logo:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .header__logo {
    margin: 18px 0 18px 30px;
  }
}

@media screen and (max-width: 440px) {
  .header__logo {
    margin: 18px 0 18px 14px;
  }
}

.header__container {
  margin: 20px 70px 21px;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:768px) {
  .header__container {
    margin: 15px 30px 21px;
  }
}

@media screen and (max-width:440px) {
  .header__container {
    margin: 20px 14px 21px;
    gap: 14px;
  }
}

.header__container-logo {
  display: flex;
  flex-direction: row;
  gap: 44px;
  align-items: center;
  justify-content: center;
}

.header__link-register {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  line-height: 1.3;
  font-weight: 500;
}

@media screen and (max-width:440px) {
  .header__link-register {
    font-size: 10px;
  }
}

.header__link-register:hover {
  opacity: 0.7;
}

.header__link-signin {
  font-size: 12px;
  line-height: 1.3;
  font-weight: 500;
  text-decoration: none;
  color: #000;
}

@media screen and (max-width:440px) {
  .header__link-signin {
    font-size: 10px;
  }
}

.header__container-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 76px;
  min-height: 32px;
  background-color: #3ddc84;
  border-radius: 3px;
}

@media screen and (max-width:440px) {
  .header__container-link {
    width: 54px;
    min-height: 26px;
  }
}


.header__container-link:hover {
  opacity: 0.7;
}
