.footer {
  height: 185px;
  display: flex;
  flex-direction: column;
  margin: 0 70px;
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 0 30px;
  }
}

@media screen and (max-width: 440px) {
  .footer {
    margin: -34px 10px 0;
    height: 280px;
    gap: 11px;
  }
}

.footer__title {
  margin: 61px 0 0;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .footer__title {
    margin: 56px 0 0;
  }
}

.footer__title_item {
  color: #8B8B8B;
  font-size: 13px;
  line-height: 1.1;
  font-weight: 400;
  border-bottom: 1px solid #8B8B8B;
  padding-bottom: 23px;
}

@media screen and (max-width: 768px) {
  .footer__title_item {
    padding-bottom: 21px;
  }
}

@media screen and (max-width: 440px) {
  .footer__title_item {
    font-size: 12px;
  }
}

.footer__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer__nav {
    margin-top: 1px;
  }
}

@media screen and (max-width: 440px) {
  .footer__nav {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 27px;
  }
}

.footer__nav_copyright {
  font-size: 13px;
  line-height: 1.6;
  font-weight: 400;
  color: #fff;
  margin: 0;
}

@media screen and (max-width: 440px) {
  .footer__nav_copyright {
    text-align: center;
    font-size: 12px;
  }
}

.footer__nav_list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 440px) {
  .footer__nav_list {
    flex-direction: column;
    gap: 10px;
  }
}

.footer__nav_item {
  list-style: none;
}

@media screen and (max-width: 440px) {
  .footer__nav_item {
    text-align: center;
  }
}

.footer__nav_item-link {
  text-decoration: none;
  font-size: 13px;
  line-height: 1.1;
  font-weight: 400;
  color: #fff;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 440px) {
  .footer__nav_item-link {
    font-size: 12px;
  }
}

.footer__nav_item-link:hover {
  opacity: 0.7;
}